#canvas-wrapper {
    height:400px;
    width:auto;
    overflow:hidden;
}

.resultados {
    background-color: #c6e3e6;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
}
th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
}
.cabeza {

    font-size: 25px;
    font-family: Roboto, Futura;
   
}